---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header";
import CardWithLink from "@components/Card";
---

<Layout title="Welcome to Astro.">
  <main
    class="flex flex-col justify-center items-center min-h-screen px-4 py-8 m-auto max-w-6xl"
  >
    <Header client:only="react" />
    <CardWithLink client:only="react" />
  </main>
</Layout>
