---
import Layout from "../layouts/Layout.astro";
import DropdownMenu from "../components/dropdown-menu";
import CardWithLink from "../components/card";
---

<Layout title="Welcome to Astro.">
  <main class="justify-center flex m-auto items-center min-h-screen">
    <!-- <DropdownMenu client:only="react" /> -->
    <div class="grid flex-col grid-cols-3 gap-8">
      <CardWithLink client:only="react" />
    </div>
  </main>
</Layout>
