---
interface Props {
  title: string;
}

import "@assets/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="og:title" content="TERR48YTE" />
    <meta
      name="og:description"
      content="OFFICIAL TERR48YTE LINKTREE WEBSITE! 😎☕"
    />
    <meta property="og:type" content="website" />
    <meta name="og:site" content="@terr48yte" />
    <meta name="og:image" content="https://terr48yte.github.io/banner.jpg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@terr48yte" />
    <meta name="twitter:title" content="terr48yte" />
    <meta
      name="twitter:description"
      content="OFFICIAL TERR48YTE LINKTREE WEBSITE! 😎☕"
    />
    <meta
      name="twitter:image"
      content="https://terr48yte.github.io/banner.jpg"
    />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>{title}</title>
    <script
      src="https://kit.fontawesome.com/eba4b3fc2e.js"
      is:inline
      crossorigin="anonymous"></script>
  </head>
  <body class="bg-[#0c0d13]">
    <slot />
  </body>
</html>
